/* Margins, paddings
-----------------------------------------------------------------------------*/
/* margin-all */
.m5{  margin: 5px;  }
.m10{ margin: 10px; }
.m15{ margin: 15px; }
.m20{ margin: 20px; }
.m25{ margin: 25px; }

/* margin-left */
.ml5{  margin-left: 5px;  }
.ml10{ margin-left: 10px; }
.ml15{ margin-left: 15px; }
.ml20{ margin-left: 20px; }
.ml25{ margin-left: 25px; }

/* margin-right */
.mr5{  margin-right: 5px;  }
.mr10{ margin-right: 10px; }
.mr15{ margin-right: 15px; }
.mr20{ margin-right: 20px; }
.mr25{ margin-right: 25px; }

/* margin-top */
.mt5{  margin-top: 5px;  }
.mt10{ margin-top: 10px; }
.mt15{ margin-top: 15px; }
.mt20{ margin-top: 20px; }
.mt25{ margin-top: 25px; }

/* margin-bottom */
.mb5{  margin-bottom: 5px;  }
.mb10{ margin-bottom: 10px; }
.mb15{ margin-bottom: 15px; }
.mb20{ margin-bottom: 20px; }
.mb25{ margin-bottom: 25px; }

/* Margin minus
----------------------------------------------*/
/* margin minus all*/
.m-5{  margin: -5px;  }
.m-10{ margin: -10px; }
.m-15{ margin: -15px; }
.m-20{ margin: -20px; }
.m-25{ margin: -25px; }

/* margin minus left */
.ml-5{  margin-left: -5px;  }
.ml-10{ margin-left: -10px; }
.ml-15{ margin-left: -15px; }
.ml-20{ margin-left: -20px; }
.ml-25{ margin-left: -25px; }

/* margin minus right */
.mr-5{  margin-right: -5px;  }
.mr-10{ margin-right: -10px; }
.mr-15{ margin-right: -15px; }
.mr-20{ margin-right: -20px; }
.mr-25{ margin-right: -25px; }

/* margin minus top */
.mt-5{  margin-top: -5px;  }
.mt-10{ margin-top: -10px; }
.mt-15{ margin-top: -15px; }
.mt-20{ margin-top: -20px; }
.mt-25{ margin-top: -25px; }

/* margin minus bottom */
.mb-5{  margin-bottom: -5px;  }
.mb-10{ margin-bottom: -10px; }
.mb-15{ margin-bottom: -15px; }
.mb-20{ margin-bottom: -20px; }
.mb-25{ margin-bottom: -25px; }

/* padding-all */
.p0 { padding:0 ;}
.p5{  padding: 5px;  }
.p10{ padding: 10px; }
.p15{ padding: 15px; }
.p20{ padding: 20px; }
.p25{ padding: 25px; }

/* padding left, right */
.plr5{  padding: 0 5px;  }
.plr10{ padding: 0 10px; }
.plr15{ padding: 0 15px; }
.plr20{ padding: 0 20px; }
.plr25{ padding: 0 25px; }

/* padding top, bottom */
.ptb5{  padding: 5px  0; }
.ptb10{ padding: 10px 0; }
.ptb15{ padding: 15px 0; }
.ptb20{ padding: 20px 0; }
.ptb25{ padding: 25px 0; }