.search-box {
  margin-top: 30px;
  margin-bottom: 20px;
  position: relative;
  #searchboxInc {
    //max-width: 555px;
    width: 100%;
    form {
      color: #333;
    }
  }
  input[type="text"] {
    color: #000000;
    border: none;
    padding: 2px 5px;
  }
  .btn-success {
    background-color: #6fa806 !important;
    &:hover {
      background-color: #639705 !important;
    }
  }
  #calendar {
    background-image: none;
    padding: 0;
    z-index: 1;
    @include screen-sm-max {
      top: 150px !important;
      margin-left: -150px;
    }
    .caltable {
      border-collapse: separate;
    }
  }
}
